* {
  margin: 0;
  padding: 0;
}

.section {
  height: 100vh;
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
}

.navbar {
  background-image: linear-gradient(to right, #9ac9e3, #326884);
  color: #fff !important;
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: #fff !important;
}

.navbar-collapse {
  display: flex;
  justify-content: end;
  transition: none;
}

.navbar-toggler {
  border: none;
  box-shadow: none;
  background: transparent;
}

.navbar-toggler:focus {
  border: none;
  box-shadow: none;
  background: transparent;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  width: 60%;
  padding: 0 0 0 50px;
  background: #e1e1e1;
  z-index: -1;
}

footer {
  background-color: #134761;
  opacity: 50%;
  z-index: 1;
}

a {
  text-decoration: none;
  color: #fff;
}

.content h1 {
  font-size: 70px;
  color: #00506e;
  font-weight: 1000;
}

.content h3 {
  font-size: 35px;
  color: #00b3e3;
  font-weight: 600;
}

.content p {
  font-size: 18px;
  color: #8c8b8b;
  font-weight: 500;
}

.content button {
  font-size: 20px;
  padding: 8px 35px;
  border: none;
  background: #16516c;
  color: #fff;
}

.image {
  position: absolute;
  z-index: 0;
  height: 600px;
  bottom: 0;
  right: 0;
}

@media only screen and (min-width: 2300px) {
  .image {
    height: 700px;
  }
}

@media only screen and (min-width: 2200px) {
  .image {
    height: 650px;
  }
}

@media only screen and (min-width: 1970px) {
  .image {
    height: 650px;
  }
}

@media only screen and (max-width: 1620px) {
  .image {
    height: 600px;
  }
}

@media only screen and (max-width: 1570px) {
  .image {
    height: 600px;
  }
}

@media only screen and (max-width: 1520px) {
  .image {
    height: 550px;
  }
}
/* 1255 */
@media only screen and (max-width: 1420px) {
  .image {
    height: 500px;
  }
  .content h1 {
    font-size: 50px;
  }

  .content h3 {
    font-size: 25px;
  }

}
@media (max-width: 1220px) {
  .image {
    height: 500px;
  }
  .content h1 {
    font-size: 50px;
  }

  .content h3 {
    font-size: 25px;
  }

  .content p {
    font-size: 15px;
  }

  .content button {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1170px) {
  .image {
    height: 500px;
  }
  .content h1 {
    font-size: 45px;
  }
  .content h3 {
    font-size: 20px;
  }

}

@media only screen and (max-width: 1100px) {
  .image {
    height: 450px;
  }
}

@media only screen and (max-width: 992px) {
  .navbar-collapse.show {
    display: block;
    transition: none;
    position: absolute;
    background-image: linear-gradient(to right, #92c8e6, #326884);
    width: 100%;
    top: 50px;
  }

  .content {
    width: 100%;
    padding: 20px;
    padding-bottom: 30px;
  }

  .image {
    position: relative; 
    height: 100%;
  }

  .content h1 {
    font-size: 40px;
  }

  .content h3 {
    font-size: 24px;
  }

  .content p {
    font-size: 12px;
  }

  .content button {
    font-size: 14px;
  }
}

/* 425 */
@media (max-width: 479px) {
  .content h1 {
    font-size: 35px;
  }
  .content h3 {
    font-size: 20px;
  }
  .content img {
    height: 8px !important;
  }
}
/* 768 */
@media (max-width: 991px) {
  .content h1 {
    font-size: 30px;
  }
  .content h3 {
    font-size: 15px;
  }
  .content img {
    height: 8px !important;
  }
  .content p {
    font-size: 10px;
  }

  .content button {
    font-size: 12px;
  }
  .copy {
    font-size: 15px !important;
  }
}

/* 576 */
@media (max-width: 767px) {
  .content h1 {
    font-size: 30px;
  }
  .content h3 {
    font-size: 15px;
  }
  .content img {
    height: 8px !important;
  }
  .content p {
    font-size: 10px;
  }

  .content button {
    font-size: 12px;
  }
  .copy {
    font-size: 15px !important;
  }
}

/* 375 */
@media (max-width: 424px) {
  .content h1 {
    font-size: 35px;
  }
  .content h3 {
    font-size: 17px;
  }
  .content img {
    height: 8px !important;
  }
  .content p {
    font-size: 14px;
  }

  .content button {
    font-size: 14px;
  }
  .copy {
    font-size: 14px !important;
  }
}
/* 320 */
@media (max-width: 374px) {
  .content h1 {
    font-size: 35px;
  }
  .content h3 {
    font-size: 17px;
  }
  .content img {
    height: 8px !important;
  }
  .content p {
    font-size: 12px;
  }

  .content button {
    font-size: 12px;
  }
  .copy {
    font-size: 12px !important;
  }
}
/* 280 */
@media (max-width: 319px) {
  .content h1 {
    font-size: 30px;
  }
  .content h3 {
    font-size: 15px;
  }
  .content img {
    height: 8px !important;
  }
  .content p {
    font-size: 10px;
  }

  .content button {
    font-size: 12px;
  }
  .copy {
    font-size: 10px !important;
  }
}
