* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}
/* nav{
  height: 50px;
} */
.all-content {
  background: #f7f5f2;
}

.navbar {
  background-color: #59acc6;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: nowrap !important;
}

.navbar .logo img {
  width: 150px;
  align-items: center;
}

.navbar-nav {
  margin-left: 50px;
  list-style: none;
  display: flex;
  flex-direction: row !important;
  float: right;
  gap: 20px;
}
.navbar-nav li {
  display: inline;
  /* margin: 0 15px; */
  color: #fff;
}

.navbar-nav li a {
  text-decoration: none;
  color: white;
}

.navbar .navbar-toggle {
  background: #59acc6;
  color: #fff;
  border: none;
}

.navbar-toggle {
  display: none;
  font-size: 1.8em;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.main-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: white;
  position: relative;
}

.left-section {
  width: 60%;
  background-color: #e2e2e2;
  padding: 50px;
}

.left-section h1 {
  font-size: 45px;
  color: #00506e;
  margin-top: 20px;
  font-weight: bold;
}

.left-section .name {
  color: #00b3e3;
  margin-bottom: 20px;
  font-size: 24px;
}

.left-section .img {
  width: 10%;
  margin-bottom: 10px;
}

.left-section p {
  font-size: 1.2em;
  color: #8c8b8b;
  margin-bottom: 20px;
}

.left-section a {
  display: inline-block;
  padding: 10px 25px;
  background-color: #16516c;
  color: white;
  text-decoration: none;
  font-size: 1em;
}

.right-section {
  position: absolute;
  width: 50%;
  right: 0;
  bottom: 0;
  background-color: white;
}

.right-section img {
  width: 100%;
  height: auto;
}

.footer {
  background-color: #002d5a;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.6;
}

.footer p {
  margin: 0;
}

.footer .social-icons {
  display: flex;
  gap: 10px;
}

.footer .social-icons img {
  color: white;
  width: 15px;
  height: 15px;
}

.navbar-toggler-icon {
  color: #fff;
}

/* 576 */
@media (max-width: 767px) {
  .navbar-toggle {
    display: flex;
    float: right;
    justify-content: end;
  }

  .navbar ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 10px;
    z-index: 1;
  }

  .navbar ul.active {
    display: flex;
  }

  .main-content {
    flex-direction: column;
    align-items: center;
  }

  .navbar.d-flex {
    justify-content: start !important;
  }

  .left-section {
    width: 100%;
    padding: 0;
  }

  .right-section {
    width: 100%;
    padding: 0;
    position: relative;
  }

  .collapse.show {
    /* height: 100% !important; */
    position: absolute;
    background: #59acc6;
    width: 30% !important;
    top:14%;
  }

  .show .navbar-nav {
    display: flex;
    flex-direction: column !important;
    font-size: 24px;
    background: #59acc6;
  }

  .navbar ul li {
    margin-bottom: 10px;
  }

  .footer .social-icons img {
    width: 30% !important;
  }

  .left-section {
    justify-content: center !important;
    align-items: center !important;
  }

  .left-section {
    font-size: 0.8em;
    padding: 15px;
  }

  .left-section h1 {
    font-size: 30px !important;
  }

  .left-section .name {
    font-size: 20px !important;
    margin-bottom: 20px !important;
  }

  .footer {
    padding: 5px;
    font-size: 0.7em;
  }

  .footer .social-icons {
    gap: 3px;
  }

  .footer .social-icons img {
    width: 8px;
    height: 8px;
  }
}

/* 768 */
@media (max-width: 991px) {
  .left-section h1 {
    font-size: 35px !important;
  }

  .left-section .name {
    font-size: 20px !important;
  }

  .left-section p {
    font-size: 17px !important;
  }
  .left-section {
    font-size: 1em;
    padding: 20px;
  }

  .navbar ul li a {
    font-size: 15px;
  }

  .navbar ul {
    gap: 10px;
  }

  .footer {
    padding: 5px;
    font-size: 0.8em;
  }

  .footer .social-icons {
    gap: 5px;
  }

  .footer .social-icons img {
    width: 8px;
    height: 8px;
  }
}

/* 425 */
@media (max-width: 479px) {
  .navbar .logo img {
    width: 25% !important;
  }

  .navbar-toggle {
    font-size: 20px;
  }

  .left-section h1 {
    font-size: 2em;
  }

  .left-section p {
    font-size: 1em;
  }

  .left-section a {
    font-size: 0.9em;
  }

  .left-section .name {
    margin-top: 10px;
    font-size: 10px !important;
  }

  .right-section {
    width: 100% !important;
    padding: 0;
    position: relative;
  }

  .left-section {
    font-size: 16px;
    padding: 20px;
  }

  .left-section .name {
    margin-bottom: 20px;
    font-size: 10px;
  }

  .right-section {
    padding: 0% !important;
  }
}

/* 992 */
@media (max-width: 1279px) {
  .footer {
    padding: 10px;
    font-size: 0.9em;
  }

  .footer .social-icons {
    gap: 10px;
  }

  .footer .social-icons img {
    width: 15px;
    height: 15px;
  }
}
/* 375 */
@media (max-width: 424px) {
  .navbar .logo img{
    width: 60px !important;
  }
  .left-section .name{
    font-size: 15px !important;
  }
}

/* 320 */
@media (max-width: 374px) {
  .left-section h1 {
    font-size: 25px !important;
  }

  .navbar .logo img {
    width: 100px !important;
  }

  .left-section .name {
    font-size: 15px !important;
  }

  .left-section p {
    font-size: 15px !important;
  }
}

/* 280 */
@media (max-width: 319px) {
  .left-section h1 {
    font-size: 20px !important;
  }

  .left-section .name {
    font-size: 12px !important;
  }

  .navbar .logo img {
    width: 35px !important;
  }

  .right-section {
    width: 35%;
    padding: 0;
    position: relative;
  }
  .left-section a{
    padding: 5px 15px;
    font-size: 10px;
  }
}
