* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}
.all-content {
  background: #f7f5f2;
}
.navbar {
  background-color: #59acc6;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo img {
  width: 30%;
  align-items: center;
}
.navbar-nav {
  margin-left: 50px;
  list-style: none;
  display: flex;
  float: left;
  flex-direction: column;
  gap: 20px;
}
.navbar-nav:hover {
  color: white;
}
.navbar-nav li {
  display: inline;
  color: #fff;
}

.navbar-nav li a {
  text-decoration: none;
  color: white;
}
.navbar .navbar-toggler {
  background: #59acc6;
  color: #fff;
  border: none;
}
.navbar-toggler-icon {
  color: #fff;
}
.show .navbar-nav {
  display: flex;
  flex-direction: column !important;
  background: #59acc6;
  float: left;
}
.navbar-nav li a:hover {
  color: black;

}

.main-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: white;
  position: relative;
}

.left-section {
  width: 60%;
  background-color: #e2e2e2;
  padding: 50px;
}

.left-section h1 {
  font-size: 45px;
  color: #00506e;
  margin-top: 20px;
  font-weight: bold;
}

.left-section .name {
  color: #00b3e3;
  margin-bottom: 20px;
  font-size: 24px;
}

.left-section .img {
  width: 15%;
}

.left-section p {
  font-size: 1.2em;
  color: #8c8b8b;
  margin-bottom: 20px;
}

.left-section a {
  display: inline-block;
  padding: 10px 25px;
  background-color: #16516c;
  color: white;
  text-decoration: none;
  font-size: 1em;
}

.right-section {
  position: absolute;
  width: 50%;
  right: 0;
  bottom: 0;
  background-color: white;
}
.right-section img {
  width: 100%;
  height: auto;
  margin: 0; 
  padding: 0;
}
.footer {
  background-color: #002d5a;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.6;
}
.footer p {
  margin: 0;
}
.footer .social-icons {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}
.footer .social-icons img {
  color: white;
  width: 15px;
  height: 15px;
}
/* 992 */
@media (max-width: 1279px) {
  .right-section img{
    width: 100% !important;
    height: 90vh !important;
}
}
/* 576 */
@media (max-width: 767px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }
  .left-section {
    width: 100%;
    padding: 30px;
  }
  .right-section {
    width: 100%;
    padding: 0;
    position: relative;
  }
  .footer .social-icons img {
    width: 30% !important;
  }
  .left-section {
    justify-content: center !important;
    align-items: center !important;
  }
  .left-section {
    font-size: 0.8em;
    padding: 15px;
  }
  .left-section h1 {
    font-size: 30px !important;
  }
  .left-section .name {
    font-size: 20px !important;
    margin-bottom: 20px !important;
  }
  .footer {
    padding: 5px;
    font-size: 0.7em;
  }
  .footer .social-icons {
    gap: 3px;
  }
  .footer .social-icons img {
    width: 8px;
    height: 8px;
  }
}
/* 768 */
@media (max-width: 991px) {
  .left-section h1 {
    font-size: 35px !important;
  }
  .left-section .name {
    font-size: 20px !important;
  }
  .left-section p {
    font-size: 17px !important;
  }
  .footer {
    padding: 5px;
    font-size: 0.8em;
  }
  .footer .social-icons {
    gap: 5px;
  }
  .footer .social-icons img {
    width: 8px;
    height: 8px;
  }
  .right-section img{
    width: 100% !important;
    height: 80vh !important;
}
}
/* 1280 */
@media (max-width: 1400px) {
  .right-section img{
  width: 100% !important;
  height: 80vh !important;
}
}
/* 425 */
@media (max-width: 479px) {
  .left-section h1 {
    font-size: 2em;
  }

  .left-section p {
    font-size: 1em;
  }

  .left-section a {
    font-size: 0.9em;
  }

  .left-section .name {
    margin-top: 10px;
    font-size: 15px !important;
  }

  .right-section {
    width: 100% !important;
    padding: 0;
    position: relative;
  }

  .left-section {
    font-size: 16px;
    padding: 20px;
  }

  .right-section {
    padding: 0% !important;
  }
}

/* 992 */
@media (max-width: 1279px) {
  .footer {
    padding: 10px;
  }
  .footer .social-icons {
    gap: 10px;
  }

  .footer .social-icons img {
    width: 15px;
    height: 15px;
  }
}
/* 991 */
@media(max-width :1065px) {
.navbar-nav li a {
    font-size: 12px !important;
}
}
/* 375 */
@media (max-width: 424px) {
  .left-section .name {
    font-size: 15px !important;
  }
}

/* 320 */
@media (max-width: 374px) {
  .left-section h1 {
    font-size: 25px !important;
  }
  .left-section .name {
    font-size: 15px !important;
  }

  .left-section p {
    font-size: 15px !important;
  }
  .logo img {
    width: 50% !important;
  }
}

/* 280 */
@media (max-width: 319px) {
  .left-section h1 {
    font-size: 20px !important;
  }

  .left-section .name {
    font-size: 12px !important;
  }
  .right-section {
    width: 35%;
    padding: 0;
    position: relative;
  }
  .left-section a {
    padding: 5px 15px;
    font-size: 10px;
  }
  .logo img {
    width: 50% !important;
  }
}
/* 576 */
@media (max-width: 767px) {
  .navbar-toggler {
    display: flex !important;
    float: right !important;
    justify-content: end !important;
  }
  .navbar-nav {
    width: 100%;
  }
  .navbar .navbar-toggler{
    /* position: absolute; */
    right: 4px;
    font-size: 17px; 
   }
}
@media (min-width: 992px) {
  .navbar-nav {
    width: 100%;
  }
}
/* 425 */
@media (max-width: 479px) {
  .navbar-toggler {
    font-size: 20px;
  }
  .logo img {
    width: 40% !important;
  }
}
